#DATABASE_URL="postgresql://neondb_owner:npg_ntE1YgxoAj7D@ep-long-wildflower-agdqqur9-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

NEXTAUTH_SECRET=
NEXTAUTH_URL=
DATABASE_URL=