version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: logistic-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - internal

  app:
    container_name: logistic-app
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.indoramatablettes.rule=Host(`${INDORAMA_TABLETTES_HOST}`)"
      - "traefik.http.routers.indoramatablettes.entrypoints=websecure"
      - "traefik.http.routers.indoramatablettes.tls.certresolver=tlsresolver"
      - "traefik.http.services.indoramatablettes.loadbalancer.server.port=3000"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - web
      - internal

networks:
  web:
    external: true
  internal:
    driver: bridge